<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Montoc - Inicio</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<header>
    <h1> Montoc</h1>

    <nav>
        <a href="index.html">Inicio</a>
        <a href="productos.html">Productos</a>
        <a href="carrito.html">Carrito</a>
        <a href="contacto.html">Contacto</a>
    </nav>
</header>

<section class="hero">
    <h2>Bienvenida a Montoc </h2>
    <p>Explora nuestros productos únicos</p>
</section>

</body>
</html>